

<section class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col md-4">
          <div class="card shadow-lg">
            <div class="card-header" [class.bg-dark]="darkTheme" [class.text-white]="darkTheme">
              <p class="h4 ">Theme Selector</p>
              <div class="form-check form-switch">
                <input name="darkTheme"
                [(ngModel)]="darkTheme"
                class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Dark Theme</label>
              </div>
            </div>
            <div class="card-body" [class.bg-dark]="darkTheme"  [class.text-white]="darkTheme">
                <img src="https://images.pexels.com/photos/7045846/pexels-photo-7045846.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid ">
                <h3 class="text-white">Dream Home</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam error accusamus sequi nostrum aliquid fuga nulla eaque iure fugit, dolor molestias aspernatur culpa sunt placeat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>