<div class="card">
  <div class="card-body">
    <h3>Some Text</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil aspernatur
      itaque cumque officia provident eaque alias eum, atque iusto ullam
      repellat molestiae debitis consequatur a placeat qui quae asperiores vel?
    </p>
  </div>
</div>
