<section class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col md-4">
          <div class="card">
            <div class="card-header bg-black text-white">
              <p class="h4">Counter</p>
            </div>
            <div class="card-body">
              <p class="h2">{{ count }}</p>
              <!-- 'click' event binding -->
              <button (click)="incrementCounter()" class="btn btn-success btn-sm">
                Increment
              </button>
              <!-- 'click' event binding -->
              <button (click)="decrementCounter()" class="btn btn-danger btn-sm">
                Decrement
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>