<section class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h3">Product Items</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo incidunt
            minima repellendus vel pariatur architecto quaerat eligendi beatae
            consectetur repudiandae?
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <table class="table table-hover text-center table-striped">
            <thead class="bg-secondary text-white">
              <tr>
                <th>Sr no.</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ product.sno }}</td>
                <td><img [src]="product.image" alt="" /></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                  <i (click)="incrementQuantity()" class="fa fa-plus-square"></i>
                  {{ product.quantity }}
                  <i (click)="decrementQuantity()" class="fa fa-minus-square"></i>
                </td>
                <td>{{ product.price * product.quantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>