<section class="mt-3"> 
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                        ID:{{employee.sno | uppercase}}
                        </li>
                        <li class="list-group-item">
                        Name:{{employee.name| uppercase}}
                        </li>
                        <li class="list-group-item">
                        Age:{{employee.age}}
                        </li>
                        <li class="list-group-item">
                        Designation:{{employee.designation |titlecase}}
                        </li>
                        <li class="list-group-item">
                            DOJ:{{employee.doj |date:'medium'}}
                        </li>
                        <li class="list-group-item">
                        Salary:{{employee.salary }}
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</section>