<!-- <pre>{{ user | json }}</pre> -->

<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card-header bg-warning">
          <p class="h4">Register</p>
        </div>
        <div class="card-body bg-light">
          <form (submit)="submitRegister()">
            <div class="mb-2">
              <input
                name="name"
                [(ngModel)]="user.name"
                type="text"
                class="form-control"
                placeholder="name"
              />
            </div>
            <div class="mb-2">
              <input
                name="email"
                [(ngModel)]="user.email"
                type="email"
                class="form-control"
                placeholder="email"
              />
            </div>
            <div class="mb-2">
              <input
                name="password"
                [(ngModel)]="user.password"
                type="password"
                class="form-control"
                placeholder="password"
              />
            </div>
            <div class="mb-2">
              <select
                name="designation"
                [(ngModel)]="user.designation"
                class="form-control"
              >
                <option>Select Designation</option>
                <option value="Software Engineeer">Software Engineeer</option>
                <option value="SR. Software Engineeer">
                  SR. Software Engineeer
                </option>
                <option value="Tech Lead">Tech Lead</option>
                <option value="Project Manager">Project Manager</option>
              </select>
            </div>
            <div class="mb-2">
              <textarea
                name="bio"
                [(ngModel)]="user.bio"
                cols="5"
                rows="5"
                class="form-control"
                placeholder="bio"
              ></textarea>
            </div>
            <div class="mb-2">
              <input
                name="terms"
                [(ngModel)]="user.terms"
                type="checkbox"
                class="form-check-input"
              />
              Accept Terms & Condistions
            </div>
            <div class="mb-2">
              <input type="submit" class="btn btn-warning" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
