<section clas="mt-3">
    <div class="container">
     <div class="row">
         <div class="col-md-8">
             <div class="card">
                 <div class="card-body">
                    <h3 *ngIf="isLoggedIn" class="text-white">Welcome Anjali</h3>
                    <h3 *ngIf="!isLoggedIn" class="text-white">Thank You</h3>
                    <button *ngIf="!isLoggedIn" (click)="login()" class="btn btn-success btn-sm">Login</button>
                    <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-warning btn-sm">Log Out</button>
                 </div>
                 
             </div>
         </div>
     </div>
         
    
    </div>
</section>