<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-white">
                        <p class="h4">Show Password</p>
                    </div>
                    <div class="card-body">
                        <form>
                             <input [type]="inputType" class="form-control" placeholder="password"> 
                             <input (change)="showPassword($event)"
                        
                             type="checkbox" class="form-check-input"> show password
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>