<section class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col md-4">
          <div class="card">
            <div class="card-header text-white">
              <p class="h4">Change Username(Manual)</p>
            </div>
            <div class="card-body">
              <form>
                <input
                  type="text"
                  [value]="username"
                  (input)="updateInput($event)"
                  class="form-control"
                />
              </form>
              <h3>{{ username }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
