
<section class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col md-6">
          <div class="card">
            <div class="card-header text-white">
              <p class="h4">SMS APP</p>
            </div>
            <div class="card-body bg-light">
              <form>
                <textarea
                  name="message"
                  maxlength="200"
                  [(ngModel)]="message"
                  class="form-control"
                  placeholder="your text"
                  rows="4"
                >
                </textarea>
              </form>
            </div>
            <div class="card-footer">
              <p class="h4">
                The Characters Remaining :
                <span class="fw-bold">{{ message.length }}/200</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>