/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
}
h2{
    font-family: monospace;
    color:beige;
    background-color: blueviolet;
}

.card{
    box-shadow: 0 0 10px black;
    padding: 15px;
    margin: 10px;
    width: 500px;
    border-radius: 4px;
    background:linear-gradient(45deg,blueviolet,beige);
}