<section class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col md-4">
          <div class="card">
            <div class="card-header bg-secondary text-white">
              <p class="h4">Change Username(Auto)</p>
            </div>
            <div class="card-body">
              <form>
                <input
                  type="text"
                  name="username"
                  [(ngModel)]="username"
                  class="form-control"
                />
              </form>
              <h3>{{ username }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>